.moviesByGenreListRootContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.moviesByGenreListRootContainer ol li {
  margin-bottom: 1rem;
}

.paginationPanelOuterContainer {
  display: block;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

@media (min-width: 1024px) {
  .moviesByGenreListRootContainer {
    flex-direction: column;
  }
  .moviesByGenreListRootContainer ol {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    width: 100%;
    padding: 0.5rem 1rem;
  }
  .moviesByGenreListRootContainer hr {
    display: none;
  }
}
