.navTabsContainer {
  display: flex;
  gap: 4rem;
  margin-top: 10px;
  justify-content: center;
}
.navTabsContainer a {
  color: black;
}

@media (min-width: 1024px) {
  .navTabsContainer a {
    font-size: larger;
    font-weight: 900;
  }

  .navTabsContainer a:hover {
    color: #00baff;
  }
}
